.clients-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-title {
  color: white;
}

.client-subtitle {
  color: white;
}

.client-logo {
  width: 160px;
  height: 160px;
}
