.cv-card-container {
  display: flex;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  padding: 0.9rem;
  margin-top: 1.45rem;
  margin-bottom: 1.45rem;
}

.cv-card-container-center {
  display: flex;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  padding: 0.9rem;
  margin-top: 1.45rem;
  margin-bottom: 1.45rem;
  justify-content: center;
}
