.github-card-container {
  display: inline-flex;
}

.github-card-intro {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.github-card-link {
  display: flex;
}

.github-icon {
  color: #000;
  margin-left: 0.2rem;
}
